#hold {
    display:flex;
    flex-direction: column;
    position:absolute;
    top:300px;
    text-align: center;
    width:98%;
    margin: 0px;
    padding:0px;
}
h3 {
    display:flex;
    justify-content: center;
}
#bwg1 {
    width:100%;
}
#mtt {
    text-align: center;
}
#mtt-content {
    width:100%;
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
#home-section {
    border:2px solid black;
    border-radius: 5px;
}
section.home-bb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: auto;
    max-width: 90%;
}
#bwg {
    display:flex;
    flex-direction: column;
    border: 3px solid black;
    padding:2%;
    margin-bottom:10px;
    border-radius: 2%;
    text-align: center;

    background-color: var(--header-color);
}
#inner-bwg {
    width:100%;
}

#bwg1 {
    margin-top:30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#mtt-content {
    display: flex;
    justify-content: space-between;
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom:50px;
    text-align: center;

}

.home-section {
    margin-top:30px;
    width: 23%; 
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    background-color: var(--header-color);
    box-sizing: border-box; 
    gap:15px;
}

.home-section img {
    width:75%;
}



@media screen and (max-width: 768px) {
    #mtt-content {
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    .home-section {
        width:70%;
    }
    
}

