:root {
    --header-color: #B2ABF2;
    --body-color: #FFEDE1;
    --black-color: black;
    --white-color: white;
    --home-bb-color: #B2ABF2;
    --home-color: #EBEBD3;
    --content-color: #3BF4FB;
    --bis-color:bisque;
    --yellow-color:#CAF500;
}
#spend {
 display:flex;
 position:absolute;
 top:300px;
 background-color: var(--home-bb-color);
 margin:0px;
 width:98%;
 
}

#spending-section {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 1%; 
    width: 100%; 
    max-width: 100%;
    box-sizing: border-box; 
}
#spend section {
    flex: 1 1 calc(50% - 10px); 
    max-width: 200px; 
    margin: 2% 0; 
    padding: 3px; 
    border: 3px solid black;
    border-radius: 2%; 
    background-color: var(--yellow-color); 
    text-align: center; 
    
}
p {
    font-size:15px;
}
h3 {
    font-size:20px;
}
#spend img {
    max-width: 100%; 
    height: auto; 
    margin: 0 auto; 
}
