/* General table styles */
table {
    width: 100%; /* Makes the table take full width of its container */
    border-collapse: collapse; /* Merges borders for a cleaner look */
    table-layout: auto; /* Allows the table to adjust based on content */
    font-size: 55%;

}

/* Header and cell styles */
th, td {
    border: 1px solid #ddd; /* Light border around cells */
    padding: 12px; /* Padding inside cells */
    text-align: left; /* Align text to the left */
    width:auto;
}
.home-bb {
    position: absolute;
    top:250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display:flex;
    width:100%;
}
h2#dark {
    margin:0;
}
#veiw{
    display:none;
}
select#t-dropdown-menu {
    display:flex;
    width:90px ; 
}
@media screen and (max-width: 768px) {
    .home-bb {
     position: relative;
     top:150px;
    }
    h2 {
        display:none;
    }
    #veiw {
        display:flex;
        position: relative;
        top:100px;
    }
 }
@media screen and (min-width: 768px) {
    select#t-dropdown-menu {
        display:flex;
        width:150px ; 
    }
}
@media screen and (min-width: 768px) {
    select#t-dropdown-menu {
        display:flex;
        width:100% ; 
    }
}